extends layout

block content
  each book in books
    div
      img(src="https://terrytestsa.blob.core.windows.net/terrybookcovers/" + book.bookId + ".jpg")
    div
      h3=book.title
      h4=book.author
  p Welcome to #{title}
